services:
  # Base de données PostgreSQL
  postgres:
    image: postgres:15
    container_name: rag_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

      POSTGRES_DB: rag_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rag_network

  # Backend FastAPI
  backend:
    build:
      context: .
      dockerfile: app/Dockerfile
    container_name: rag_backend
    environment:
      # Variables d'environnement pour le backend
      DATABASE_URL: postgresql://raguser:ragpassword@postgres:5432/rag_db
      SECRET_KEY: BK4lcWJCRyqlUxD5ymyfVQ7N04z1kDqc7QWrX2Tm1k8
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      EMBEDDING_MODEL: BAAI/bge-m3
      LLM_MODEL: google/flan-t5-base
      CHROMA_PERSIST_DIR: /app/data/vector_db/chroma
      PDF_PATH: /app/data/raw/data.pdf
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data  # Monter le dossier data pour ChromaDB et PDF
      - ./logs:/app/logs  # Monter les logs
    depends_on:
      postgres:
        condition: service_healthy  # Attend que PostgreSQL soit prêt
    networks:
      - rag_network
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  rag_network:
    driver: bridge
